body{
    overflow-x: hidden;
}

.header {
    width: 50rem;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2rem;
    margin-bottom: 2rem;
    user-select: none;
}

.header h2{
    font-weight: 700;
    justify-content: center;
}

.tracks-cont{
    width: 80rem;
    /* margin-left: auto;
    margin-right: auto; */
    transform: translateY(10vh);
}

.card .image img{
    width: 95%;
    border-radius: 3px;
    margin-top: 0.5rem;
}

.card .text{
    padding: 5px;
}

.card .text h2{
    font-weight: 700;
    font-size: 1.5rem;
    margin-top: .5rem;
}

.card .text h3{
    font-size: 1rem;
}

.card .text h3 span{
    font-weight: 700;
}

.card{
    transition: 0.3s;
    cursor: pointer;
    min-height: 18rem !important;
    margin-bottom: 1rem;
}

.card:hover{
    background-color: rgb(246 200 96);
    color: rgb(0, 0, 0);

}


.row{
    width: 90vw;
    transform: translateX(5vw);
}