.img-contain {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -45%);
}

.Home {
    width: 110px;
    height: 33px;
    font-size: initial;
    font-family: cursive;
    border-radius: 5px;
    color:black;
    background-color: white;
    border: .1rem solid black;;
    transition: 0.6s ease;
}

.Home:hover{
    background-color: gray;
    color: white;
    border: none;
}

.errImage {
        width: 30rem;
        height: 30rem;
}

.button-contain {
    height: 35px;
    display: flex;
    justify-content: center;
    margin-top: 33px;
}

.err-contain {

}