.footer {
    background-color: #191919;
    opacity: 1;
    padding: 70px 0 0;
  }
  
  @media (max-width: 767px) {
    .footer {
      text-align: center;
    }
  }
  
  .footer .container-footer {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 70px;
    padding-left: 80px;
    padding-right: 80px;
    margin-left: auto;
    margin-right: auto;
  }
  
  .footer .box h3 {
    color: white;
    font-size: 50px;
    margin: 0 0 20px;
    /* text-align: center; */
  }
  
  .footer .box .social {
    display: flex;
    justify-content: center;
    padding-left: 50px;
  }
  
  @media (max-width: 767px) {
    .footer .box .social {
      justify-content: center;
      padding-right: 35px;
    }
  }
  
  .footer .box .social li {
    margin-right: 10px;
    justify-content: center;
  }
  
  .footer .box .social li a {
    background-color: #ffffff6e;
    color: white;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    font-size: 20px;
    transition: 0.5s ease;
    justify-content: center;
  }
  
  .footer .box .social .facebook:hover {
    background-color: white;
    animation-name: stretch;
    animation-duration: 1.5s;
    animation-timing-function: ease-out;
    animation-delay: 0;
    animation-direction: alternate;
    animation-iteration-count: infinite;
    animation-fill-mode: none;
    animation-play-state: running;
  }
  
  
  .footer .box .social .linkedin:hover {
    background-color: white;
    animation-name: stretch;
    animation-duration: 1.5s;
    animation-timing-function: ease-out;
    animation-delay: 0;
    animation-direction: alternate;
    animation-iteration-count: infinite;
    animation-fill-mode: none;
    animation-play-state: running;
  }
  
  .footer .box .social .google:hover {
    /* background-image: linear-gradient(180deg, red, yellow); */
    background-color: white;
    animation-name: stretch;
    animation-duration: 1.5s;
    animation-timing-function: ease-out;
    animation-delay: 0;
    animation-direction: alternate;
    animation-iteration-count: infinite;
    animation-fill-mode: none;
    animation-play-state: running;
  }

  .footer .box .social .github:hover {
    background-color: white;
    animation-name: stretch;
    animation-duration: 1.5s;
    animation-timing-function: ease-out;
    animation-delay: 0;
    animation-direction: alternate;
    animation-iteration-count: infinite;
    animation-fill-mode: none;
    animation-play-state: running;
  }

  .footer .box .social .instgram:hover {
    background-color: white;
    animation-name: stretch;
    animation-duration: 1.5s;
    animation-timing-function: ease-out;
    animation-delay: 0;
    animation-direction: alternate;
    animation-iteration-count: infinite;
    animation-fill-mode: none;
    animation-play-state: running;
  }

  .footer .box .social .twitter:hover {
    background-color: white;
    animation-name: stretch;
    animation-duration: 1.5s;
    animation-timing-function: ease-out;
    animation-delay: 0;
    animation-direction: alternate;
    animation-iteration-count: infinite;
    animation-fill-mode: none;
    animation-play-state: running;
  }

  .footer .box .social .telegram:hover {
    background-color: white;
    animation-name: stretch;
    animation-duration: 1.5s;
    animation-timing-function: ease-out;
    animation-delay: 0;
    animation-direction: alternate;
    animation-iteration-count: infinite;
    animation-fill-mode: none;
    animation-play-state: running;
  }
  
  .footer .box .text {
    line-height: 2;
    color: white;
    /* text-align: center; */
    /* text-justify: inter-ideograph; */
  }
  
  .footer .box .links li {
    padding: 15px 0;
    transition: 0.5s ease;
    justify-content: center;
  }
  
  .footer .box .links li:not(:last-child) {
    border-bottom: 1px solid #444;
    justify-content: center;
  }
  
  .footer .box .links li:hover {
    padding-left: 10px;
  }
  
  .footer .box .links li:hover a {
    color: white;
  }
  
  .footer .box .links li a {
    color: white;
    transition: 0.5s ease;
    justify-content: center;
  }
  
  .footer .box .links li a::before {
    font-family: "Font Awesome 5 Free";
    content: "\F101";
    font-weight: 900;
    margin-right: 10px;
    /* color: green; */
  }
  
  .footer .box .line {
    display: flex;
    align-items: center;
    color: #b9b9b9;
    margin-bottom: 30px;
  }
  
  @media (max-width: 767px) {
    .footer .box .line {
      flex-direction: column;
    }
  }
  
  .footer .box .line i {
    font-size: 25px;
    /* color: green; */
    margin-right: 10px;
  }
  
  @media (max-width: 767px) {
    .footer .box .line i {
      margin-right: 0;
      margin-bottom: 15px;
    }
  }
  
  .footer .box .line .info {
    line-height: 1.7;
    flex: 1;
  }
  
  .footer .box .line .info span {
    display: block;
  }
  
  .footer .copyright {
    padding: 25px 0;
    text-align: center;
    color: white;
    margin: 50px 0 0;
    border-top: 1px solid #444;
  }
  
  /* Footer -End */